/* common start */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.text-align {
  text-align: center !important;
}
.text-white {
  color: white !important;
}
.row {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  flex-wrap: wrap;
}
.col {
  /* float: left; */
  padding-right: 8px;
  padding-left: 8px;
}
.col-full {
  width: 100%;
}
.col-half {
  width: 50%;
}
.col-third {
  width: 33.33333%;
}
/* .last {
  clear: both;
} */

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
/* common end */

/* body */
#header {
  width: 100%;
  height: 46.5px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1;
}
/* begin-hover */
#nav li:hover {
  background-color: rgb(199, 194, 194);
}
#nav > li:hover a {
  color: black;
}
#nav .subnav li a:hover {
  color: black;
}
#nav .subnav li:hover {
  background-color: rgb(199, 194, 194);
}
#nav > li:hover .subnav {
  display: block;
}
.search:hover {
  background-color: rgb(194, 26, 26);
}
/* end hover  */
/* begin-nav */

#nav > li {
  display: inline-block;
  position: relative;
}
#nav > li > a {
  text-decoration: none;
  line-height: 46.5px;
  padding: 0 24px;
  color: azure;
  text-transform: uppercase;
}
/* end-nav */
/* begin-sub-nav  */
#nav .subnav {
  position: absolute;
  display: none;
}

#nav .subnav li {
  padding: 10px 40.5px;
  display: block;
  background-color: rgb(243, 241, 239);
}

#nav .subnav li a {
  text-decoration: none;
  color: black;
}
/* end-sub-nav  */
/* begin-icon */
.arrow-down-icon {
  font-size: 10px;
}
#header .search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 25px;
}
/* menu in mobile */
/* hover menu */
.menu:hover {
  background-color: #ccc;
  color: black;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  font-size: 15px;
  line-height: 46.5px;
  padding: 0 24px;
  display: none;
  z-index: 2;
}

/* #header {
  display: none;
} */
.menu .menu-icon {
  padding: 0;
}
#header .search-icon {
  color: white;
  font-size: 15px;
  line-height: 46.5px;
}
/* start side bar */
#list-item-side-bar {
  position: fixed;
  top: 46.5px;
  list-style: none;
  text-transform: uppercase;
  background-color: black;
  width: 100%;
  z-index: 2;
  display: none;
}
#list-item-side-bar li a {
  display: block;
  text-decoration: none;
  padding: 12px 24px;
  color: #fff;
}
.check-box:checked ~ #list-item-side-bar {
  display: block;
}
#check-side-bar {
  display: none;
}
/* end side bar */

/* end-icon */

/* start slide */
#slide {
  margin-top: 46.5px;
  padding-top: 50%;
  background: url("../img/chicago.jpg") top center / cover no-repeat;
  position: relative;
}
.text_content {
  padding: 32px 16px;
  text-align: center;
}
#slide > .text_content > .header_description {
  color: rgb(243, 235, 235);
  font-weight: 450;
  font-size: 30px;
  margin: 10px 0;
}
#slide > .text_content > .content_description {
  color: rgb(252, 247, 247);
  font-weight: 450;
  margin: 15px 0;
}
/* end content */

/* start content */
/* start content global */
#content {
}
.content-section {
  padding: 64px 16px 112px;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}
#content .heading-section {
  margin: 10px 0px;
  font-size: 30px;
  text-align: center;
  letter-spacing: 4px;
}
#content .heading-sub-section {
  margin: 15px 0px;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  opacity: 0.4;
}
#content .about-content {
  line-height: 1.4;
  font-size: 15px;
  text-align: justify;
}
/* end content global  */

/* start content about member */

#content .member-list {
  padding-top: 47px;
  /* width: 100%; */
}

#content .name-member {
  margin: 15px;
  font-size: 15px;
}
#content .img-member {
  /* height: 154px; */
  width: 100%;
  max-width: 60%;
}
/* end content about member */

/* start content tour */
.tour-section {
  background-color: black;
}
.tour-section .list-ticket {
  margin-top: 40px;
  background-color: white;
}
.tour-section .ticket {
  padding: 11px 16px;
  font-size: 15px;
  opacity: 0.7;
  border: 1px solid #ddd;
}
.tour-section .sold-out {
  background-color: red;
  margin: 0px 0px 0px 16px;
  padding: 4px 8px;
  color: white;
}
.tour-section .quantity {
  float: right;
  width: 25px;
  height: 23px;
  font-size: 15px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 23px;
  margin: -2px;
}
/* start tour-place */
.list-place-show {
  margin-top: 32px;
}
.img-place {
  width: 100%;
  /* height: 75%; */
  display: block;
}
/* hover img */
.img-place:hover {
  opacity: 0.4;
}
.body-place {
  font-size: 15px;
  background-color: white;
  padding: 16px;
}

.name-place {
  font-size: 15px;
  font-weight: 700;
}

.date-show {
  margin: 15px 0px;
  opacity: 0.5;
}
.description-show {
  margin: 15px 0px;
  line-height: 1.4;
}
.buy-ticket {
  color: white;
  background-color: black;
  /* line-height: 4; */
  padding: 11px 16px;
  text-decoration: none;
  display: inline-block;
}
.buy-ticket:hover {
  background-color: rgb(185, 184, 181);
  color: rgb(37, 36, 36);
}
/* end tour-place */

/* end content tour */

/* start contact */
/* .row::after {
  content: "";
  display: block;
  clear: both;
} */
.body-contact {
  padding-top: 32px;
}
.contact-inf > p {
  margin-bottom: 6px;
}
.contact-inf i {
  width: 30px;
  display: inline-block;
  color: black;
  font-size: 18px;
}
.first-fill {
  margin-bottom: 8px;
}
.contact-fill .form-control {
  height: 40.5px;
  padding: 8px;
  border: 1px solid #ccc;
}

.form-control {
  width: 100%;
}
/* hover button */
.button-sent-contact:hover {
  color: black;
  background-color: rgb(230, 223, 223);
}
.button-sent-contact {
  border: none;
  margin: 16px 0px;
  font-size: 15px;
  color: white;
  padding: 10px 15px;
  background-color: rgb(0, 0, 0);
  float: right;
  -webkit-appearance: none;
}
/* end contact */
/* start map */
.map {
  width: 100%;
}
/* end map */
/* footer */
.society-icon > i:hover {
  color: rgb(0, 0, 0, 0.4);
}
.society-icon {
  font-size: 22px;
  color: rgb(0, 0, 0, 0.6);
}
.author {
  margin: 16px 0px;
  font-size: 15px;
}
#footer {
  padding: 64px 16px;
}
